<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">
<log4j:configuration>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO" />
            <param name="levelMax" value="ERROR" />
        </filter>
    </appender>

    <appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <!-- <param name="File" value="C:/logs/error"/> -->
        <param name="File" value="/home/hadoop/myApps/logs/KafkaConsumer4UserVisit/error"/>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR" />
            <param name="levelMax" value="ERROR" />
        </filter>
    </appender>

    <appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <!-- <param name="File" value="C:/logs/info"/> -->
        <param name="File" value="/home/hadoop/myApps/logs/KafkaConsumer4UserVisit/info"/>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO" />
            <param name="levelMax" value="INFO" />
        </filter>
    </appender>

    <root>
        <level value="all" />
        <appender-ref ref="consoleAppender"/>
        <!-- <appender-ref ref="ERROR"/>
        <appender-ref ref="INFO"/> -->
    </root>
</log4j:configuration>